*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 10px/16px = 62.5% => 1rem = 10px */ }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Open Sans', sans-serif; }

.wrapper {
  background: url(../img/layout.jpg) center no-repeat fixed;
  background-size: cover;
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100vh; }

_:-ms-fullscreen, :root .wrapper {
  display: block;
  margin-top: 10vh; }

h2 {
  font-weight: normal; }

.container {
  display: flex;
  max-width: 62rem;
  min-height: auto;
  flex-wrap: wrap;
  margin: auto;
  box-shadow: 0 0 2rem #000; }

@media only screen and (max-width: 64em) {
  .container > * {
    flex: 2 50%; } }

@media only screen and (max-width: 37.5em) {
  .container {
    margin-right: 2rem;
    margin-left: 2rem; } }

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20.6rem;
  height: 20.6rem;
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold; }
  @media only screen and (max-width: 31.25em) {
    .item {
      width: 30%;
      height: 22vh; } }
  .item--img {
    width: 10rem;
    height: 10rem;
    padding-bottom: 3rem; }
  .item--1 {
    background-color: #00cccc; }
  .item--2 {
    background-color: #4ed486; }
  .item--3 {
    background-color: #6139f6; }
  .item--4 {
    background-color: #e3b63d; }
  .item--5 {
    display: flex;
    background: linear-gradient(to bottom, #dc3d66 50%, #b93457 50%); }
  .item--6 {
    background-color: #bd54cd; }

.daily-content {
  display: flex;
  width: 20.5rem;
  height: 10rem;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem; }
  @media only screen and (max-width: 37.5em) {
    .daily-content {
      width: 18rem;
      height: 8rem; } }
  .daily-content--item {
    display: flex;
    flex-direction: column; }
    .daily-content--item__img {
      width: 2.5rem;
      height: 2.5rem; }
      @media only screen and (max-width: 37.5em) {
        .daily-content--item__img {
          width: 2rem;
          height: 2rem; } }
  .daily-content--item h2 {
    font-size: 1.2rem; }

.daily-item--img {
  width: 20.5rem;
  height: 10.7rem;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center; }
  .daily-item--img__big {
    height: 6.5rem; }
    @media only screen and (max-width: 37.5em) {
      .daily-item--img__big {
        height: 5.4rem; } }
