*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  background: url(../img/layout.jpg) center no-repeat fixed;
  background-size: cover;
  margin: auto;
  min-height: 100vh;
  padding-top: 20vh;

  @media only screen and (max-width: 18.13em) {
    body {
      padding-top: 0;
      margin: 0;
      min-height: auto;
    }
  }

  @supports (display: grid) {
    display: grid;
    padding: 0;
    justify-items: center;
    align-content: center;
  }
}
